include pyproject.toml
include README.md
include COPYING

graft lib/eofs

recursive-include examples *.py
recursive-include lib *.nc
recursive-include lib *.npy

prune .github
prune *.egg-info
prune doc

exclude *.enc
exclude *.yaml
exclude lib/eofs/_version.py